<?xml version="1.0"?>
<launch>

  <!-- Load example URDF -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find dof_fit_description)/urdf/dof_fit.xacro'" />
    
  <!-- Show in Rviz  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dof_fit_description)/launch/dof_fit.rviz"/>

</launch>

